title: And the winner is.....
headline: The winner of the first annual “Show Your Lawyer Some Love” competition donates his iPad to a student in need.  
author: Yael Citro
date: 21-04-2014
coverImg : https://lp-static.s3.amazonaws.com/flush_full.jpg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
When Sarah Murphy saw the “Show Your Lawyer Some Love” competition she knew exactly who she wanted to nominate. “Patrick has been our go-to lawyer for years,” she said. Sarah and her husband have a general contracting business in Denver, Colorado and “Patrick” is Patrick R. Scully, a partner at Sherman & Howard - [http://shermanhoward.com/attorney/patrick-r-scully/](http://shermanhoward.com/attorney/patrick-r-scully/)



How did they meet? “We didn’t know any lawyers and our kids are in school together. I figured Patrick would do a good job because we would have to bump into each other in other areas of our lives.” Sarah says the best thing about Patrick is his sense of humor and that he is easy to talk to. “He’s honest and he’s not going to tell you something just because you want to hear it. We’re not giant developers, and when you hear about changes that may affect your business, it can be confusing. It has been great to have someone to navigate us through these changes and tell us when we need to be concerned.”

The high school attended by Sarah’s son recently required that all students have iPads. Sarah is giving her iPad to her son Jack (who was thrilled when he heard the news). Patrick is working with [Boys Hope Girls Hope](http://www.boyshopegirlshope.org/colorado/Home.aspx) to donate his iPad to a student at the high school who otherwise could not afford it.

All of us at LawPal, Logikcull, SimpleLegal, Shake and Wirelawyer (the contest sponsors) are thrilled that the iPads are going to be put to such great use.
{% endfilter %}
{% endblock body %}
