title: Are your clients happy?
headline: The hard truth is ...you probably have no idea.
author: Yael Citro
date: 22-04-2014
coverImg : https://d262ilb51hltx0.cloudfront.net/fit/t/3200/2560/gradv/29/81/55/1*0ny5VjfvA0GheiJB-2qE5Q.jpeg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
In April 2013, Altman Weil released the results of its 2013 Law Firms in Transition survey (a link to the complete study provided below). As part of the survey, law firm leaders were asked about their “greatest challenge” over the next couple of years. At the top of the list was “increasing revenue” followed by “generating new business, law firm growth and profitability.” The survey’s author went on to note that it is striking (and disturbing) that “delivering value to clients” appears only at number eight and “improving efficiency” is number eleven on the list of twelve challenges.

The survey’s author concluded that lawyers don’t think that delivering value to clients is important and that “law firms that do not put client needs at the top of their priority lists misunderstand what is driving the forces of change in the legal market in 2013.”

The survey’s author is 100% correct, deliverying value to clients should be the top priority of every lawyer and every firm. But the reason it didn’t appear at the top of the list is not because lawyers don’t think it is important. The reason it didn’t appear at the top of the list is because lawyers don’t think this is one of their challenges. Lawyers already think their clients are happy, so it is not where they need to focus.

At the risk of stating the obvious, a happy client is a loyal client. And lawyers cannot build successful practices without loyal clients.

So, are your clients happy?

The hard truth is …you probably have no idea.

Lawyers tend to focus on results. As long as you acheive a desired result, you assume your clients must be happy. But, as unfair as it may be, you are not going to build client loyalty based soley on results. You see, for the most part, clients have no idea what you do on a technical level. It’s hard for them to judge a “good” result and therefore, results alone cannot serve as the sole basis of client happiness and loyalty.

By contrast: whether or not you respond to their questions in a timely manner, whether or not your office seems efficiently operated, whether or not you know how to make efficient use of their time, and whether or not the invoice reflects that you treat their money like your own … these points are easy for clients to judge you on. And they will judge you on them.

What’s more, while you tend to set the standard for client experience against the prevailing standards at other law firms, your clients are setting a much higher bar. They are comparing lawyers to other service-intensive industries. Clients have expectations set by the financial services industry, and other areas where experts have made a science of and focused their efforts on exceptional client experience.

How does your client experience rate against the experience they have with Zappos, RackSpace, or even their accountant or their bank?

Are your clients happy? Here’s a radical idea — ask them.

Yael Ciro is the cofounder of LawPal and a lawyer. LawPal is part deal room, part project manager. It is a cloud-based workspace for planning, executing and tracking a transaction, allowing lawyers and clients centralized access to all documents, communications and notes. Click here to start using LawPal

Link to the compelte Altman Weil Study: http://www.altmanweil.com/dir_docs/resource/2d831a80-8156-4947-9f0f-1d97eec632a5_document.pdf
{% endfilter %}
{% endblock body %}
