title: Are we being innovative enough?
headline: Sarah Reed, General Counsel at CRV says lawyers are not being innovative enough. 
author: Yael Citro
date: 24-03-2014
coverImg : https://d262ilb51hltx0.cloudfront.net/fit/t/3200/2560/gradv/29/81/55/1*5HZF4B0FhHb42_yfNZIoQw.jpeg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
According to TechCrunch, law is the sector with the least amount of investment. Sarah Reed, General Counsel at CRV is not suprised. “It speaks volumes about our profession that throwing some form documents out on the Internet for free/at a low cost is considered innovative.” We completely agree Sarah’s observation - the benefits of innvoation in legal technology should accrue to the consumer — to the client.

This article received a lot of attention when we posted it on Twitter. If you haven’t read it yet…you should.

[Original Article Here](http://techcrunch.com/2014/03/21/lawyer-disrupt-thyself/)

{% endfilter %}
{% endblock body %}
