title: Don't Be a Sheep, Be a Shepherd 
headline: Notoriously averse to change, lawyers can learn a lot from clients.
author: Yael Citro
date: 01-05-2014
coverImg : https://lp-static.s3.amazonaws.com/Shepard.jpg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
Fifteen JDs and 15 MBAs are sitting in a room…

It sounds like the beginning of a bad joke, but it was actually an experiment conducted by my contracts professor when I was in law school. We were all given the same task to complete and 15 minutes to complete it. Go. The future lawyers spent the first five minutes asking questions about the rules. The future CEOs found a way to complete the task in 3 minutes, never asking a single question. 

The MBAs looked at us and thought “what a bunch of squares.” We looked at them and thought “Good luck staying out of jail.” 

Although we all had a good laugh, my law professor was trying to show us how little we actually understood about our future clients and how differently we think. While we were focused on succeeding within the limits provided — our future clients were just focused on “getting it done”.

Not much has changed. Modern clients are still focused on “getting it done”. And they increasingly expect more from lawyers—and they want it faster and for less money. The challenges law firms face today are not new. However, they are intensified by the rise of technology. Today, when clients confront legal problems (or just friction working with lawyers), they are starting to question the necessity of conventional solutions and to see value in unconventional solutions.

This is exactly how LawPal was born. 

When we hired lawyers to close our seed round, our inboxes were immediately flooded with emails. Email’s great for many things. But it’s not great for running projects with lots of moving pieces and documents to review. Things get lost, people get left out of conversations, people have to repeat themselves. I was losing my mind. 

We were using Trello to manage our internal workflow and communications. We asked ourselves, “why can’t we manage our legal workflow using Trello or something similar?” So in an effort to solve our frustration, we built a simple and intuitive project management tool (a Trello for legal projects), which became LawPal. 

Our lawyers were completely open to working on our platform and really appreciated the improved communication and organization. But, imagine if our lawyers had come to us with a solution without our asking? What if they had said to us, “We understand that email is a terrible way to manage this deal, and we think we can make this process much easier — communication will be clearer, the process will go faster and in the end you will be left with a better work product.” That understanding would have gained our loyalty because they clearly have our interests at heart. 

It is clear that ongoing technology advances are significantly impacting what lawyers are asked to do by their clients. The question for lawyers is, are you still trying to figure out how to succeed within the limitations of old business models or are you going to be a little more like your clients — a little more entrepreneurial — a little more “get it done”.

This article originally appeared in [Law Technology Today](http://www.lawtechnologytoday.org/2014/04/fifteen-jds-and-15-mbas-are-sitting-in-a-room/).

{% endfilter %}
{% endblock body %}
