title: Project Management: Keep it Simple
headline: Most lawyers are de facto project managers, you might as well do it well.
author: Yael Citro
date: 17-06-2014
coverImg : https://lp-static.s3.amazonaws.com/qzesekpmt.jpg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
Most lawyers already are _de facto_ project managers. Nearly every legal engagement is a “project” with a clear goal that needs to be accomplished within a fixed period of time.  And the project does not close itself - someone manages it.  I say that lawyers are _de facto_ project managers because while most lawyers accept the responsibility for achieving a certain outcome for their client, but lawyers rarely embrace their role as project manager.  Few lawyers accept that a legal engagement is unsuccessful if it is not completed within reasonable time and cost expectations, even if a favorable legal outcome was achieved. 

But clients are becoming increasingly demanding.  As unfair as it may be, you are not going to build client loyalty based solely on results. You see, for the most part, clients have no idea what you do on a technical level. It's hard for them to judge a "good" result.  But, whether or not you respond to their questions in a timely manner, whether or not your office seems efficiently operated, whether or not you know how to make efficient use of their time, and whether or not the invoice reflects that you treat their money as your own - these points are easy for clients to judge you on. And they will judge you on them.

For a lawyer, nothing triggers innovation faster than when a long-standing client threatens to seek other counsel.  Clients are expecting “more-for-less” and a good project management system will help you effectively use technology, people and processes to deliver a better product at a lower cost, while maintaining (or even boosting) your firm’s profitability. 

A lot of project management tools recommended by professional project management organizations can feel a bit like using a sledgehammer to crack a nut. You don't need to add more complexity to your 18-hour days.  

At LawPal, we believe in keeping it simple. Simple is good - for everyone.

_Your projects at a glance_: LawPal gives you a bird's-eye view of your active projects. Watch your deals progress. Instantly know what needs your attention.

_A simple checklist_: Nearly 75% of all malpractice suits against lawyers are because someone dropped the ball: planning errors, losing documents and other avoidable mistakes. Lawyers need a strategy for making sure that no one drops the ball. The answer is ridiculously simple - it begins with a checklist.

_Document sharing, review and storage_: Selectively share documents with clients, annotate and request feedback from third parties. LawPal elegantly manages the document lifecycle.

_Centralized alerts and daily digests_: Finish each day with a sense of accomplishment. LawPal will alert you with built-in realtime notifications and daily digest emails summarizing all the activity accross all of your projects.

_Seamless e-signing_: Ready to sign? Circulate documents for signature using HelloSign without ever leaving the LawPal platform. Signed copies of the documents are automatically stored against the relevant checklist item. We doubt you'll miss chasing after signature pages.

The entire LawPal team is always at your service. _Our job is to make your job easier_. To talk about effective project management or how we can help support your business, please contact us at [yael@lawpal.com](mailto:yael@lawpal.com) or [click here](https://lawpal.youcanbook.me/) to book a free demo with one of the co-founders.

{% endfilter %}
{% endblock body %}
