title: Engagement Letters - Part I
headline: Don’t be afraid to be creative, get the attorney-client relationship right from the beginning.
author: Yael Citro
date: 28-04-2014
coverImg : https://lp-static.s3.amazonaws.com/paints-get-creative.jpg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
I recently saw a copy of the form engagement letter from my old law firm. In the seven years since I left, the engagement letter has gone from a three page letter, to a three page letter with a 22-page exhibit of qualifications and carve outs — each one carefully selected in response to some catastrophe that has hit the market during the past few years.

The engagement letter sets the tone for the attorney-client relationship and is likely to be the first document you exchange on the LawPal platform. A standard engagement letter reads something like this:

1. The client’s file will be managed in the following way (decided by the law firm);

2. The deal will be staffed in the following way (decided by the law firm); and

3. The client’s role is to pay the bill and provide input from time to time.

More often than not, clients just sign it  — blindly handing over control of the deal and the bill to the lawyer.

The attorney-client relationship is just that, a relationship. A good lawyer is an essential member of the team. Lawyers should be compensated for their knowledge and expertise. But, legal services are expensive, and clients should receive good value for the money they spend on law firms. The best way to ensure that everyone wins is to manage the relationship together, emphasizing transparency, communication and shared responsibility. There is no better place to make this clear, than in the engagement letter .

We have said it before, and you’ll probably hear us say it many many more times, lawyers who are constantly willing to rethink the basic organizational, pricing and service delivery models that currently dominate the market will be well-positioned to prosper in the future. The attorney-client relationship is becoming increasingly collaborative and there is no better place to foster this “team approach” than in the engagement letter. Set the right tone for the relationship from day one.

{% endfilter %}
{% endblock body %}
