title: LawPal Goes To Harvard
headline: LawPal Presenting at the Harvard Law School Conference on Disruptive Innovation in the Market for Legal Services on March 6, 2014 
author: Yael Citro
date: 5-03-2014
coverImg : https://d262ilb51hltx0.cloudfront.net/fit/t/3200/2560/gradv/29/81/55/1*msfYdSIRcLzeIXpUoF1xDA.jpeg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
LawPal is thrilled to be presenting at the Harvard Law School Program on the Legal Profession’s March 6, 2014 conference on Disruptive Innovation in the Market for Legal Services. The event will be headlined by Clayton M. Christensen, who is regarded as the world’s top expert on disruptive innovation and growth. In addition, Chris Kenny, the Chief Executive of the UK Legal Services Board, the agency charged with managing the UK’s innovative alternative business structures in law firms, will deliver an address. William Hubbard, a Senior Partner of Nelson Mullins, LLP and the incoming president of the American Bar Association will provide commentary.

Over 250 disruptors, innovators, lawyers, corporate leaders, and other thought leaders from around the world are expected to attend. Up-to-date information, including a schedule, can be found at the [event webpage](http://www.law.harvard.edu/programs/plp/pages/kenny_event.php).

We are especially excited to be joined by some of the other amazing startups working to revolutionize the market for legal services:

- [Law Media Labs](http://www.lawmedialabs.com)
- [ExpertBids](http://www.expertbids.com) 
- [UpCounsel](https://www.upcounsel.com) 
- [Viewabill](https://www.viewabill.com/pages/home) 
- [SimpleLegal](http://www.simplelegal.com) 
- [Ravel Law](https://www.ravellaw.com) 
- [Judicata](https://www.judicata.com) 
- [LearnLeo](https://learnleo.com) 
- [Casetext](https://casetext.com) 
- [LawGives](https://lawgives.com) 
- [Modria](http://www.modria.com) 
- [WordRake](http://www.wordrake.com) 
- [Dealstage](http://www.dealstage.com) 
- [LegalReach](http://www.legalreach.com/#!/) 

We look forward to a really exciting event.

{% endfilter %}
{% endblock body %}
