title: No Tired Associates On My Deals 
headline: General Counsel refuses to work with firms who work associates around the clock   
author: Yael Citro
date: 07-05-2014
coverImg : https://lp-static.s3.amazonaws.com/overworked.jpg
{% extends "post.html" %}
{% block body %}
 
{% filter markdown %}
I have a good friend (all good conversations start out this way) who is the general counsel of a fairly large company and is in charge of hiring (and firing) external counsel.  The other day, she said to me:

"When I retain external counsel I have a firm rule - I do not want to receive any documents that have been drafted at 2:00 am.  I do not want to hear from my lawyer between 10:00 pm and 7:00 am.  If my lawyer cannot figure out how to manage his time and the time of the associates who work with him - why would I want him managing my deal?"

"How do firms generally respond?" I asked.

"They do not know how to respond.  Most of them are not run efficiently enough to meet this demand."

It is a perfect example of how lawyers and clients use different benchmarks to measure what it means to be a "good" lawyer.  

Lawyers tend to focus on results. As long as they achieve the desired result, they assume their clients are happy. And if their clients are not happy, they should be.

For clients, doing good, quality legal work is really just the baseline - clients assume you'll do good work. What makes a difference to clients is whether or not you respond to their questions in a timely manner, whether or not your office seems efficiently operated, whether or not you know how to make efficient use of their time, and whether or not the invoice reflects that you treat their money as your own ... these points are easy for clients to judge you on. And they will judge you on them.

Many lawyers think that having young associates work through the night is a sign of commitment to the client.  For my friend, getting documents from overworked, overtired associates is not a sign of commitment, it is a sign of inefficiency. 

Would you ever set a condition like this before working with a law firm?  As a law firm, would you agree?

{% endfilter %}
{% endblock body %}