title: Show Your Lawyer Some Love
headline: It’s Be Kind To Lawyers Day (yes, really) and a group of legal tech founders want you to show your lawyer some love.  
author: Yael Citro
date: 8-04-2014
coverImg : https://d262ilb51hltx0.cloudfront.net/fit/t/3200/2560/gradv/29/81/55/1*74mJRSwoe5Cxv0rgA_RsfQ.png
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
A lawyer dies and goes to Heaven. “There must be some mistake,” the lawyer argues. “I’m too young to die. I’m only 55.” “Fifty-five?” says Saint Peter. “No, according to out calculations, you’re 82.” “How’d you get that?” the lawyer asks. Answers St. Peter, “We added up your time sheets.”

With two brothers who are doctors and 13 years as a lawyer, I don’t think there is a single lawyer joke I haven’t heard. Some of them are actually pretty good. But today is International Be Kind To Lawyers Day and the founders of legal-tech startups LawPal, Logikcull, SimpleLegal, Shake and Wirelawyer are asking you to set aside the lawyer jokes and show your lawyer some love.

Go to [this link](http://bit.ly/QZClQn) and nominate your lawyer. Tell the world why your lawyer is the best. The lawyer-client pair with the most votes each win an iPad. Voting ends Friday April 11, 2014 at 5:00 pm EST.

Go ahead, show some love!!! You can go back to telling lawyer jokes next week.
{% endfilter %}
{% endblock body %}
