title: The Story of LawPal
headline: Who we are and how we got here. 
author: Yael Citro
date: 5-03-2014
coverImg : https://lp-static.s3.amazonaws.com/12372_961030799781_65765277_n.jpg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
Hi, I’m Yael, one of the founders of LawPal. I am also an actual lawyer.

I want to share with you the story of how LawPal was born.

It all started back in March 2013. Back then we were setting out to create a legal marketplace. We matched prospective clients with lawyers who were able to do high quality work at a fraction of what it would cost to hire a big firm. Business was great, and we were busy.

We raised an initial seed round and hoped to close it quickly. We hired a lawyer and for the first time, I was the client. Little did I know that the very process of trying to close our financing would lead us to pivot the company.

In all deals, even with set terms, there are issues that come up. This did not surprise me. This was exactly why we hired lawyers and we were very thankful to have the benefit of their counsel and experience. What did surprise me was that, in the 13 years since I graduated law school, our lawyers were managing the transaction using the same tools I used when I first started.

We relied on email for everything. Email’s great for many things. But it’s not great for running projects with lots of moving pieces and documents to review. Things get lost, people get left out of conversations, there’s nowhere to go to see what’s left to do. And, of course, after we closed, I had nowhere to go to see my final documents. I was losing my mind. And what’s worse, because we were paying our lawyers by the hour — this inefficiency was costing me money. But what I also knew from my years as a lawyer in a big firm is that my lawyers did not enjoy this process any more than I did.

We both needed something to help us communicate ideas and organize the work to be done. Simple as that.

In an effort to solve our frustration, we decided to build our own simple project management tool. Eight months later we raised some additional cash and needed to finalize the documents quickly. But this time, we ran the deal using the new LawPal platform. Closing the second financing took a quarter of the time and cost us a fraction of what it cost us to close the first. It just ran so much better! We regained the sense of order and calmness we’d been craving. And our lawyers noticed — they really appreciated the improved communication and organization.

We gave the tool to some of the lawyer-client teams in the marketplace and soon the lawyers were asking us when they could use the tool with their other clients.
We thought, “maybe we’ve got a product here!” So we polished it up and are preparing to launch it later this month.

The entire LawPal team is always at your service. When you email or call — you will reach me personally. Our job is to make your job easier. We hope you’ll consider using LawPal to stay on top of your projects. We look forward to helping you "make practice perfect".

Enjoy!

Yael Citro, Alex Halliday and Ross Crawford — Founders of LawPal

{% endfilter %}
{% endblock body %}
