title: We are live!
headline: LawPal officially launches at the 2014 ABA TechShow in Chicago 
author: Yael Citro
date: 31-03-2014
coverImg : https://d262ilb51hltx0.cloudfront.net/fit/t/3200/2560/gradv/29/81/55/1*5HZF4B0FhHb42_yfNZIoQw.jpeg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}
We are excited to announce the launch of our collaborative platform, which went live Thursday March 27, 2014 at the ABA TechShow in Chicago.

The platform is a cloud-based workspace for planning, executing and tracking a transaction, allowing lawyers and clients centralized access to all documents, communications and notes. Check out Bob Ambrogi’s recap of the show and his review of our “simple and — dare I say it — elegant” solution. [More Here](http://www.lawsitesblog.com/2014/03/top-10-product-announcements-aba-techshow.html?utm_source=rss&utm_medium=rss&utm_campaign=top-10-product-announcements-aba-techshow).

We also want to give a special shoutout to our friends in the startup world who also made the trip to the ABA TechShow: Jake Heller from [CaseText](https://casetext.com/), Nikhil Nirmel from [LawDingo](https://www.lawdingo.com), Andy Wilson from [Logikcull](http://logikcull.com/) and Matthew Tollin from [WireLawyer](http://wirelawyer.com). Always great to see you guys!

Go to [lawpal.com](https://lawpal.com) and give it a spin. If you have any questions please contact me at [yael@lawpal.com](mailto:yael@lawpal.com). I am here to make sure that you absolutely love using the platform. We look forward to your feedback.

Enjoy!

Yael Citro, Alex Halliday and Ross Crawford — Founders of LawPal
{% endfilter %}
{% endblock body %}
