title: Stop Dropping the Ball
headline: Using a checklist will eliminate avoidable errors.
author: Yael Citro
date: 18-06-2014
coverImg : https://lp-static.s3.amazonaws.com/20081028-011537-pic-983089807.jpg
{% extends "post.html" %}
{% block body %}

{% filter markdown %}

What is the greatest source of stress for lawyers?

It is not keeping up with changes in the law or even generating new business, although these certainly play a role. The greatest source of stress for lawyers is that in trying to meet the needs of increasingly demanding clients - someone will drop the ball. 

In fact, _The Washington Times_ reports that nearly 75% of all malpractice suits against lawyers are precisely because someone dropped the ball:<br /><br />

1. _Substantive Errors (46.61%)_. Almost half of all legal malpractice claims have to do with making mistakes with the matter itself. Substantive errors include inadequate discovery, planning or procedure errors, and other mistakes. 

2. _Administrative Errors (28.63%)_. Administrative errors include problems with calendaring and deadlines, as well as losing documents, evidence, and other clerical errors.

These avoidable mistakes put a strain on your client relationships and are demoralizing and frustrating.  

In his book, _The Checklist Manifesto_, Atul Gawande explains why avoidable mistakes are all too common amongst highly skilled professionals: the volume and complexity of knowledge today has exceeded our ability to manage it consistently without error despite material advances in technology, boatloads of training and super-specialization of functions and responsibilities.  

The simple truth is that whether you are a doctor, a newspaper journalist, or a lawyer - you need to organize your thoughts.  Lawyers need a strategy for making sure that no one drops the ball and the answer is ridiculously simple - it’s a checklist. 

The power of checklists is that they:<br />

1. Force people to consciously decide how to manage their time and resources. 

2. Remind us of necessary steps and make them explicit.

3. Establish a higher standard for baseline performance.

So, when lawyers ask me, “Why did you build your platform around a checklist?”

My response is always, “Because we want relieve your greatest source of stress.”



{% endfilter %}
{% endblock body %}
