@startup-basePath: "../framework/";

@import '../framework/flat-ui/less/variables.less';
@import '../framework/flat-ui/less/mixins.less';

@import '../framework/common-files/less/mixins.less';
@import '../framework/common-files/less/common.less';
@import '../framework/common-files/less/navbar.less';
@import '../framework/common-files/less/helper.less';

/* header */
@import '../framework/ui-kit/ui-kit-header/less/header-8.less';
@import '../framework/ui-kit/ui-kit-header/less/header-11.less';
/* blog */


@import '../framework/ui-kit/ui-kit-blog/less/blog-2.less';

@import '../framework/ui-kit/ui-kit-blog/less/blog-3.less';

 
/* content */
/*@import '../framework/ui-kit/ui-kit-content/less/content-2.less';
@import '../framework/ui-kit/ui-kit-content/less/content-4.less';
*/
@import '../framework/ui-kit/ui-kit-content/less/content-4.less';

@import '../framework/ui-kit/ui-kit-content/less/content-11.less';

@import '../framework/ui-kit/ui-kit-content/less/content-12.less';
/*@import '../framework/ui-kit/ui-kit-content/less/content-14.less';
*/
@import '../framework/ui-kit/ui-kit-content/less/content-15.less';

@import '../framework/ui-kit/ui-kit-content/less/content-17.less';

@import '../framework/ui-kit/ui-kit-content/less/content-19.less';


@import '../framework/ui-kit/ui-kit-content/less/content-22.less';

@import '../framework/ui-kit/ui-kit-content/less/content-31.less';



@import '../framework/ui-kit/ui-kit-contacts/less/contact-4.less';


@import '../framework/ui-kit/ui-kit-crew/less/crew-2.less';



/* footer */

@import '../framework/ui-kit/ui-kit-footer/less/footer-7.less';



header.header-8 {
    height:65px;
    position:absolute;
    .header-background {
        background-color:transparent;
    }
    &.dark {
        background:url('../images/placeit.jpg');
    }
    .navbar {
        margin-top:8px;
        margin-bottom:2px;
        .navbar-collapse {
            position:relative;
        }
        .nav {
            text-align:right;
            li a{
                padding-top:18px;
                color:white;
                font-size:15px;
                font-weight: normal;
                &:hover {
                    color:white;

                }
            }
            li a.btn {
                color:white;
                height: inherit;
                padding:8px 13px;
                &:hover {
                    background-color:@brand-success;
                }
            }
        }
        a.brand {
            padding-top:20px;
            img {
                height:28px;
                margin:2px 15px 0 0;
                padding-top:2px;
            }
        }
    }
}
.bg-lawpal-preview {
    background:url('../images/placeit.jpg');
    opacity:1;
    background-size:cover;
    background-position: center center; 
    height:675px;
    padding-top:125px;
    h3 {
        font-size: 40px;
        color: #444; 
        margin-bottom:6px;
    }
    p.lead {
        color:#444;
        font-size:21px;
        opacity:0.8;
    }
    .background {
        background-color:white;
        opacity:0;
    }

}


body > section, footer {
    padding-top: 80px;
    padding-bottom: 80px;
    @media (max-width: 768px) {
        padding-top: 105px;
        padding-bottom: 105px;
    }
}
.content-11 {
    background-color:transparent;
    border-top:1px solid lighten(@lp-blue, 30%);
    border-bottom:1px solid lighten(@lp-blue, 30%);
    color: darken(@lp-blue, 0%);
    .btn {
        background-color:@lp-blue;
    }
}
.content-15 {
    padding-top:0px;
    padding-bottom:70px;
    p {
        font-size:15px;
        line-height:25px;
    }
    &.intro {
        padding-top:45px;
    }
    h2 {
        font-size:34px;
        margin-bottom:17px;
    }
    h3 {
        font-size:55px;
        line-height:68px;
        margin-bottom:10px;
    }
    h4 {
        margin-top:4px;
        margin-bottom:40px;
        font-size:21px;
        font-weight: normal;
        color:#888;
    }
    strong {
            color:darken(@lp-blue, 20%);
            font-weight: normal;
    }
    p.lead {
        font-weight: normal;
        font-size: 17px;
        line-height: 1.4em;
    }
    .btn {
        width:220px;
    }
    .features {
        margin-top:90px;
        h6 {
        color:darken(@lp-blue, 20%);
            margin:30px 0px 10px 0px;
        }
        p {
            font-size:14px;
        }
    }
}
.content-17 {
    padding-top:70px;
    padding-bottom: 70px;
    .quote:before {
          content: url('../framework/common-files/icons/quote-down-mb.png');
          display: block;
          margin: 0 auto 25px;
          text-align: center;
    }
    blockquote {
        line-height: 1.55em;
    }
    .author {
        margin-top:57px;
        img {
            width:90%;
        }
    }
}
.content-14 {
    padding-top:100px;
    padding-bottom:100px;
    h3 {
        font-weight:300;
        font-size:40px;
    }
    .features {
        h6 {
            color: darken(@lp-blue, 5%);
        }
    }
    .box-1, .box-2, .box-3, .box-4 {
        margin-right: -15px;
    }
    .box-5, .box-6, .box-7, .box-8 {
        margin-left: -15px;
    }
    img {
        margin-bottom:30px;
    }
}
.content-30 {
    padding-top: 110px;
    padding-bottom: 110px;
}
.content-21 {
    padding-top:100px;
    &.bg-brand-blue-light {
        background-color:mix(@gray, white, 20%);
        h3 {
            color: darken(@gray, 30%);
            font-size:35px;
        }
    }
    .features.features-tabs {
        .features-header {
            background-color: darken(@lp-blue, 5%);
            .box {
                border-left-color: darken(@lp-blue, 10%);
                color:white;
                opacity:0.7;
                [class*="fui-"],.glyphicon {
                color:white;
                }
                &.active {
                    opacity:1;
                }
            }
        }
        .features-bodies {
            background-image:none;
            background-color:#fcfcfc;
        }
        .features-body {
            padding-left:0px;
            background-image:none;
            padding-top:90px;
            padding-bottom:90px;
            img {
                margin-top:-25px;
            }
        }

    }
}
.content-2 {
    padding-top: 120px;
    padding-bottom: 130px;
    @media (max-width: 768px) {
        padding-top: 105px;
        padding-bottom: 105px;
    } 
}
.content-28 {
    background-color: #f4f5f6;
    @media (max-width: 767px) {
        padding-top: 105px;
        padding-bottom: 0;
    }
}
.content-9 {
    padding-top: 130px;
    padding-bottom: 0;
    @media (max-width: 767px) {
        padding-top: 105px;
        padding-bottom: 0;
        .hidden-phone{
          margin-top: 40px;
        }
    }
}
.content-12 {
    padding-bottom: 0;
    padding-top: 130px;
    @media (max-width: 768px) {
        padding-top: 105px;
        padding-bottom: 0;
    }
}
.price-4 {
    h3 {
        font-size:30px;
        margin:0px 0px 30px 0px;
    }
}
.crew-2 {
    padding-bottom:0px;
    h3 {
        text-align: center;
        margin-bottom:30px;
        margin-top:25px;
    }
    .members {
        .name {
            bottom:14px;
            font-size:12px;
        }
        .position {
            left:19px!important;
            bottom: 10px;
            text-align: left;
        }
        .social-btns { 
            *:hover * {
                top:0;
                opacity:0.7;
            }
            a {
                width:32px;
                height:32px;
                opacity:0.5;
            }
        }
    }

}


.contacts-4 {
    background:url('../images/map.jpg');
    background-size:cover;
    background-position: center center;
    color:white;
    padding-top:120px;
    padding-bottom:120px;
    .social-btns{
        a:hover {
            color:white;
        }
    }
    p {
        color:white;
    }
    .content {
        margin-right: 0px;
    }

}

.ipad-break {
    height:700px;
    background:url('../images/ipad-hands.jpg');
    background-size:cover;
    background-position:center center;
    margin-top:20px;
}
ul.features {
    li {
        font-size:15px;
        padding:4px 0px;
        span {
            float:left;
            width: 100px;
            font-size:13px;
            margin-right:10px;
            opacity:0.7; 
        }
    }
}
.content-31 {
    position:relative;
    .bg-checklist {
        position:relative;
        .bg {
            background-image:url('/static/images/screenies/checklist.png');
            background-repeat: no-repeat;
            background-position: left top;
            position:absolute;
            width:50%;
            height:100%;
            right:0;
            top:0;
            opacity: 1;
            background-size: auto 100%;
        }
    }
}
section.privacy  {
    font-size:16px;
    color:#444;
    padding-top:100px;
    p {
        font-size:16px;
    }
    p + p{
        margin-top:10px;
        font-size:16px;
    }
    ul {
        margin:0px 0px 0px 0px;
        li {
            margin:10px 0px 10px 0px;
            line-height:1.722169;
        }       
    }
    ol {
        list-style-type: upper-alpha;
        margin:0px 0px 0px 0px;
        li {
            margin:10px 0px 10px 0px;
            line-height:1.722169;            
        }
        ol {
            list-style-type: upper-roman;
            ol {
                list-style-type: lower-alpha;
                ol {
                    list-style-type: lower-roman;
                }
            }
        }
    }
    h5 {
        margin: 25px 0px 10px 0px;
    }
    h6 {
        margin: 25px 0px 7px 0px;
        font-weight: bold;
        font-size:15px;
    }
}

/* Landing Page */
.header-11-sub {
    padding: 60px 0px 0px 0px;
    background-color: @lp-blue;
    p {
        color:white;
    }
}
.content-features {
    padding:60px 0px 0px 0px;
    .a {
        color: @orange;
    }
    .b {
        color: @emerald;
    }
    .c {
        color: @belize-hole;
    }
    span.ico {
        font-size:65px;
        display: block;

    }
    p {
        font-size:15px;
    }
}
.content-19 {
    padding-top:55px;
    border-bottom:none;
    padding-bottom:55px;
    background-color:#fafafa;
}
.content-19 .col-sm-7 .quote .quote-text{
    font-size:31px;
}

