{% extends 'base.html'%}

{% block title %}LawPal Features{% endblock title %} 

{% block content %}
<!-- <section class="blog-3">
    <div class="container text-center">
      <img src="{% static 'images/logo-mark.png' %}" width="100" height="100" alt="">
      <h2>How LawPal Works</h2>
    </div>
  </section> -->

<section class="content-22 bg-midnight-blue ani-processebd lp-tour">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Features to make things move <i>faster</i></h3>
        <span class="fui-arrow-down"></span>
      </div>
    </div>
  </div>
</section>
<section class="product-tour">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>Your projects at a glance</h2>
        <p class="lead">LawPal gives you a birds eye view of your active projects. Navigate with instant-search and detailed activity feed so you never miss a step.</p>
      </div>
    </div>
        <img src="{% static 'images/matters-2.png' %}" style="border-radius:4px;">
      </div>
    </div>
  </div>
</section>
<section class="product-tour alerts">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-2 text-right">
            <span class="pe-7s-bell"></span>
          </div>
          <div class="col-sm-10">
            <h2>Centralized alerts and daily digests</h2>
            <p class="lead">Email is great for many things, but getting updated on a day of activity accross multiple projects is not one of them. LawPal will alert you with built-in realtime notifications and daily digest emails.</p>
          </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="product-tour">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2>Document Checklist</h2>
            <p class="lead">Structure your projects with a collaborative document checklist. Know the status of every file and bring things to a conclusion more quickly. <p>
          </div>
          </div>
        <img src="{% static 'images/checklist-tour.png' %}" style="border-radius:4px;width:95%;">
        <img src="{% static 'images/checklist-phone.png' %}" style="border-radius:4px;position:absolute;top:159px;right:-50px;width:185px;">
      </div>
    </div>
  </div>
</section>
<section class="product-tour">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2>Document sharing and review</h2>
            <p class="lead">Selectively share documents with your clients, annotate and request feedback from other parties. LawPal manages the document lifecycle seamlessly. </p>
          </div>
          </div>
        <img src="{% static 'images/annotation.png' %}" style="border-radius:4px;width:95%;">
        <img src="{% static 'images/requests-phone.png' %}" style="border-radius:4px;position:absolute;top:105px;right:-50px;width:185px;">
      </div>
    </div>
  </div>
</section>
<section class="product-tour sign">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2>Seamless Electronic Signing</h2>
        <p class="lead">Once your documents are ready for exection, send them for signing through HelloSign. The final executed copies will be automatically stored.</p>
        <span class="pe-7s-pen sign-icon"></span>
      </div>
    </div>
  </div>
</section>
<!-- <section class="product-tour">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2>Manage communications</h2>
            <h3>Everyone on the same page<h3>
          </div>
          </div>
        <img src="http://placehold.it/900x500">
      </div>
    </div>
  </div>
</section> -->
<section class="product-tour love">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-3 text-right">
            <span class="pe-7s-like"></span>
          </div>
          <div class="col-sm-9">
            <h2>Leave your clients in great shape</h2>
            <p class="lead">Remember closing books? We've rethought those too. Once your project is concluded, your client is left with a beautiful organized collection of final, executed documents, ready for your next deal. </p>
            <a href="https://app.lawpal.com/" class="btn btn-primary btn-lg">Try LawPal</a>
            <a href="https://app.lawpal.com/" class="btn btn-info btn-lg">Book a Walkthrough</a>

          </div>
          </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}