{% extends 'base.html'%}

{% block title %}LawPal Platform Updates{% endblock title %} 

{% block content %}
<!-- <section class="blog-3">
    <div class="container text-center">
      <img src="{% static 'images/logo-mark.png' %}" width="100" height="100" alt="">
      <h2>How LawPal Works</h2>
    </div>
  </section> -->

  <section class="content-33">
        <div class="container">
          <img src="{% static 'images/logo-mark.png' %}" width="150" vspace="30px">
          <p class="lead">How LawPal Works</p>
          <p>A walk through of the anatomy of a LawPal Project</p>
        </div>
      </section>
      <section class="content-31">
        <div class="container">
          <div class="row">
            <div class="number">1</div>
            <div class="col-sm-8 col-sm-offset-2">
              <h3>All your projects at a glance</h3>
              <p>View all your projects at glance. Get notifications on signuatures, comments and added documents all from a single view.</p>
              <div class="box">
                <div class="img">
                  <img src="{% static 'images/screenies/dashboard.png' %}" width="100%">
                  <img src="{% static 'images/screenies/dashboard.png' %}" width="100%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="number">2</div>
            <div class="col-sm-8 col-sm-offset-2">
              <div id="pt-1" class="page-transitions pt-perspective">
                <div class="pt-page pt-page-current">
                  <h3>A shared transaction checklist</h3>
                  <p></p>
                  <div class="box">
                    <div class="img">
                <div class="img">
                  <img src="{% static 'images/screenies/checklist.png' %}">
                  <img src="{% static 'images/screenies/checklist.png' %}">
                    </div>
                  </div>
                </div>
                <div class="pt-page">
                  <h3>Each block is coded for web</h3>
                  <p>HTML layout is based on one of the common and reliable frameworks at this time - Bootstrap v 2.3.2. The most important parts of the Startup Framework are Samples and the UI Kit that includes a set of different components.</p>
                  <div class="box">
                    <div class="img">
                      <img src="../../common-files/img/content/ps-wire-imac-bw@2x.png" width="397" height="193" alt="">
                      <img src="../../common-files/img/content/ps-wire-imac@2x.png" width="397" height="193" alt="">
                    </div>
                  </div>
                </div>
                <div class="pt-page">
                  <h3>Based on Twitter Bootstrap</h3>
                  <p>For example, let’s take a look at Sample #4. This page consists of different blocks that are taken from a UI Kit — header, feature blocks, content blocks and footer with address.</p>
                  <div class="box">
                    <div class="img">
                      <img src="../../common-files/img/content/ticket-navy-bw@2x.png" width="380" height="187" alt="">
                      <img src="../../common-files/img/content/ticket-navy@2x.png" width="380" height="187" alt="">
                    </div>
                  </div>
                </div>
                <div class="pt-controls">
                  <a class="pt-control-prev" href="#"></a>
                  <a class="pt-control-next" href="#"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="number">3</div>
            <div class="col-sm-8 col-sm-offset-2">
              <div id="pt-2" class="page-transitions pt-perspective">
                <div class="pt-page pt-page-current">
                  <h3>File transfer with no disconnects</h3>
                  <p>It contains many basic and complex components which are great for designers to have at hand: buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
                  <div class="box">
                    <div class="img">
                      <img src="../../common-files/img/content/ps-wire-imac-bw@2x.png" width="397" height="193" alt="">
                      <img src="../../common-files/img/content/ps-wire-imac@2x.png" width="397" height="193" alt="">
                    </div>
                  </div>
                </div>
                <div class="pt-page">
                  <h3>Make beautiful sites much faster</h3>
                  <p>It contains many basic and complex components which are great for designers to have at hand: buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
                  <div class="box">
                    <div class="img">
                      <img src="../../common-files/img/content/ticket-navy-bw@2x.png" width="380" height="187" alt="">
                      <img src="../../common-files/img/content/ticket-navy@2x.png" width="380" height="187" alt="">
                    </div>
                  </div>
                </div>
                <div class="pt-page">
                  <h3>Easy way to prototyping ideas</h3>
                  <p>It contains many basic and complex components which are great for designers to have at hand: buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
                  <div class="box">
                    <div class="img">
                      <img src="../../common-files/img/content/map-bw@2x.png" width="380" height="179" alt="">
                      <img src="../../common-files/img/content/map@2x.png" width="380" height="179" alt="">
                    </div>
                  </div>
                </div>
                <div class="pt-controls">
                  <a class="pt-control-prev" href="#"></a>
                  <a class="pt-control-next" href="#"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


{% endblock content %}