{% extends 'base.html'%}

{% block title %}LawPal Pricing{% endblock title %} 

{% block content %}
<!-- <section class="blog-3">
    <div class="container text-center">
      <img src="{% static 'images/logo-mark.png' %}" width="100" height="100" alt="">
      <h2>How LawPal Works</h2>
    </div>
  </section> -->

<section class="content-22 lp-pricing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
      
      </div>
    </div>
  </div>
</section>
<section class="price-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Introductory Pricing</h3>
        <p class="lead"><span>For a limited time, signup to our Early Bird plan.<br /></span></p>
      </div>
    </div>
  </div>
</section>
<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <div class="price">$25<span>/month</span></div>
          <a href="#" class="btn btn-clear btn-hg">Signup</a>
      </div>
    </div>
  </div>
  <div class="faq">
    <div class="container">
      <div class="row ">
        <div class="col-sm-5 col-sm-offset-1">
          <h3>Are there any long-term contracts?</h3>
          <p>You can cancel your account at any time. No contracts, lock-ins or cancellation fees.</p>

          <h3>Do my clients have to pay?</h3>
          <p>LawPal users who are creating projects through the platform need to subscribe. All other users, including clients and third parties can use LawPal at no additional fee. </p>

          <h3>I have a question - can I talk to a real person?</h3>
          <p>Of course! You can reach us a number of different ways. By email at <a href="mailto:founders@lawpal.com">founders@lawpal.com</a> or by phone on (510) 809 6334. During office hours we are reachable through the live chat bar at the base of this page. We look forward to speaking with you.  </p>
        </div>
        <div class="col-sm-5">

          <h3>What's included in this subscription?</h3>
          <p>We like to keep things simple and our pricing is no different. Included in your subscription is unlimited projects, data storage and signature requests. We'll have more granular pricing later this year but for now, we're focusing on building out the platform. </p>

          <h3>Do my colleagues have to subscribe?</h3>
          <p>At the moment, you have to subscribe if you wish to create new projects. </p>

          <h3>I'm interested in your roadmap. How can I find out more? </h3>
          <p>You can always chat with our product team by clicking on the Chat with us! link at the bottom of this page. We're a small a team so you will always be speaking with someone in the know.</p>
          
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock content %}