{% extends 'base.html'%}

{% block title %}LawPal Features{% endblock title %} 

{% block content %}
<!-- <section class="blog-3">
    <div class="container text-center">
      <img src="{% static 'images/logo-mark.png' %}" width="100" height="100" alt="">
      <h2>How LawPal Works</h2>
    </div>
  </section> -->

<section class="content-22 lp-pricing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
      
      </div>
    </div>
  </div>
</section>
<section class="price-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Our Pricing Plans</h3>
      </div>
    </div>
  </div>
</section>
      <section class="price-3">
        <div class="container">
            <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="plans">
                  <div class="plan">
                    <div class="title">
                      <div class="img">
                        <span class="pe-7s-home solo"></span>
                      </div>
                      Small Firm
                    </div>
                    <div class="price">25$/month</div>
                    <div class="description">
                      LawPal Secure Cloud
                      <br>
                      <b>Unlimited</b> matters
                      <br>
                      <b>Unlimited</b> documents<br>
                      <b>Unlimited</b> clients<br>
                      <b>Unlimited</b> collaborators

                      <br>
                      <b>100 signatures</b>/month
                      <br>Same-day support
                    </div>
                    <a class="btn btn-primary" href="https://app.lawpal.com/">Signup</a>
                  </div>
                  <div class="plan">
                    <div class="title">
                      <div class="img">
                        <span class="pe-7s-culture amlaw"></span>
                      </div>
                      Enterprise
                    </div>
                    <div class="price">Contact Us</div>
                    <div class="description">
                      Dedicated harware
                      <br>
                      <b>unlimited</b> data
                      <br>
                      <b>unlimited</b> users
                      <br>Custom Integration
                    </div>
                    <a class="btn btn-link" href="#">Contact Us</a>
                  </div>
                </div>
              </div>
        </div>
        <!--/.container-->
      </section>

{% endblock content %}