{% extends "base.html" %}
{% block navbar %}
<style>
body, html, .page-wrapper {
	height:100%;
}
</style>
{% endblock %}

{% block content %}
<div style="
background-color:red;
width:50%;
position:fixed;
height:100%;
top:0;
left:0;
">a asda ds adsa dsa ds ads ads a dsa ds d sad sa d sa. a asda ds adsa dsa ds ads ads a dsa ds d sad sa d sa a asda ds adsa dsa ds ads ads a dsa ds d sad sa d sa a asda ds adsa dsa ds ads ads a dsa ds d sad sa d saa asda ds adsa dsa ds ads ads a dsa ds d sad sa d sa a asda ds adsa dsa ds ads ads a dsa ds d sad sa d sa a asda ds adsa dsa ds ads ads a dsa ds d sad sa d sa</div>

<div style="
background-color:green;
width:50%;
position:fixed;
max-height:100%;
right:0;
overflow:scroll;
">

</div>


{% endblock %}
{% block footer %}

{% endblock %}