{% extends 'base.html'%}

{% block title %}LawPal Platform Updates{% endblock title %} 

{% block content %}
<section class="blog-3">
    <div class="container">
      <div class="title">
        <img src="{% static 'framework/common-files/icons/rocket@2x.png' %}" width="100" height="100" alt="">
        <h3>Platform Updates</h3>
        <div class="submitted">Last Updated  {% now "d M" %}</div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        	<h5>Week of 17th March 2014</h5>
        	<ul class="list-unstyled features">
        		<li><span class="label label-success">New Feature</span> We have added the ability to fly.</li>
        		<li><span class="label label-warning">Improvement</span> You no longer need to fly.</li>
        		<li><span class="label label-default">Fix</span> We have added the ability to fly.</li>
        		<li><span class="label label-success">New Feature</span> Our  .</li>
        	</ul>
        	<br />
          	<p>Major features and improvements to the LawPal platform will be posted here.</p>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}